In [1]:
import pandas as pd

In [3]:
def cleaned_data(csv_name):
    df = pd.read_csv(csv_name)
    df.dropna(inplace=True)
    df = df.sample(5000)
    return df

In [4]:
jan_22 = cleaned_data("202201-citibike-tripdata.csv")
feb_22 = cleaned_data("202202-citibike-tripdata.csv")
mar_22 = cleaned_data("202203-citibike-tripdata.csv")
apr_22 = cleaned_data("202204-citibike-tripdata.csv")
may_22 = cleaned_data("202205-citibike-tripdata.csv")
jun_22 = cleaned_data("202206-citbike-tripdata.csv")
jul_22 = cleaned_data("202207-citbike-tripdata.csv")
aug_22 = cleaned_data("202208-citibike-tripdata.csv")
sep_22 = cleaned_data("202209-citibike-tripdata.csv")
oct_22 = cleaned_data("202210-citibike-tripdata.csv")
nov_22 = cleaned_data("202211-citibike-tripdata.csv")
dec_22 = cleaned_data("202212-citibike-tripdata.csv")

C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)

In [5]:
list_22 = [jan_22,feb_22,mar_22, apr_22, may_22, jun_22, jul_22, aug_22, sep_22, oct_22, nov_22, dec_22]

In [6]:
citibike_2022 = pd.concat(list_22, ignore_index=True)

In [7]:
try: 
    
    jan_23 = cleaned_data("202301-citibike-tripdata.csv")
    feb_23 = cleaned_data("202302-citibike-tripdata.csv")
    mar_23 = cleaned_data("202303-citibike-tripdata.csv")
    apr_23 = cleaned_data("202304-citibike-tripdata.csv")
    may_23 = cleaned_data("202305-citibike-tripdata.csv")
    jun_23 = cleaned_data("202306-citibike-tripdata.csv")
    jul_23 = cleaned_data("202307-citibike-tripdata.csv")
    aug_23 = cleaned_data("202308-citibike-tripdata.csv")
    sep_23 = cleaned_data("202309-citibike-tripdata.csv")
except:
    print("couldn't create dataframe, skipping...")
    pass

C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)
C:\Users\uzmaf\AppData\Local\Temp\ipykernel_8764\2927325918.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)

In [8]:
list_23 = [jan_23, feb_23, mar_23, apr_23, may_23, jun_23, jul_23, aug_23, sep_23]

In [9]:
citibike_2023 = pd.concat(list_23, ignore_index=True)

In [10]:
citibike_2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CDE1F703E4D7C76F,classic_bike,2023-01-08 03:10:44,2023-01-08 03:27:41,W 64 St & Thelonious Monk Circle,7123.04,11 Ave & W 41 St,6726.01,40.775160,-73.989187,40.760301,-73.998842,casual
1,9C9C81D6731869B4,classic_bike,2023-01-21 20:16:30,2023-01-21 20:17:06,Lenox Ave & W 111 St,7602.05,Lenox Ave & W 111 St,7602.05,40.798786,-73.952300,40.798786,-73.952300,casual
2,1C3551AF591291FC,classic_bike,2023-01-04 06:17:23,2023-01-04 06:19:29,Henry St & Atlantic Ave,4531.05,Clinton St & Joralemon St,4605.04,40.690893,-73.996123,40.692395,-73.993379,member
3,D1F6391D43C11F9B,classic_bike,2023-01-13 09:41:56,2023-01-13 09:42:49,Ave A & E 11 St,5703.13,E 11 St & Avenue B,5659.11,40.728547,-73.981759,40.727464,-73.979504,member
4,0F09DAF6A0A72B5B,electric_bike,2023-01-04 13:35:58,2023-01-04 13:44:38,Central Park W & W 91 St,7453.01,E 75 St & 3 Ave,6991.12,40.788665,-73.966801,40.771129,-73.957723,member

In [11]:
citibike_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E600EE8265CC1ABE,classic_bike,2022-01-27 19:07:20,2022-01-27 19:25:07,Huron St & Franklin St,5869.04,Bushwick Ave & Powers St,5250.05,40.732660,-73.958260,40.712477,-73.941000,member
1,CA69DAFA1BF533D8,classic_bike,2022-01-28 17:14:06,2022-01-28 17:27:21,Centre St & Worth St,5279.03,4 Ave & E 12 St,5788.15,40.714948,-74.002345,40.732647,-73.990110,member
2,E89C990AA148CD79,electric_bike,2022-01-13 16:56:15,2022-01-13 17:01:24,E 25 St & 2 Ave,6046.02,E 15 St & 3 Ave,5863.07,40.739126,-73.979738,40.734232,-73.986923,member
3,993633E6F7BF0A5F,classic_bike,2022-01-04 08:21:50,2022-01-04 08:31:40,8 Ave & W 38 St,6526.05,6 Ave & W 34 St,6364.10,40.754610,-73.991770,40.749640,-73.988050,member
4,BF6D5BC9672E7041,electric_bike,2022-01-23 16:06:32,2022-01-23 16:14:01,W 22 St & 10 Ave,6306.06,Washington St & Barrow St,5847.08,40.746920,-74.004519,40.731911,-74.008769,member

In [23]:
citibike_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             60000 non-null  object
 1   rideable_type       60000 non-null  object
 2   started_at          60000 non-null  object
 3   ended_at            60000 non-null  object
 4   start_station_name  60000 non-null  object
 5   start_station_id    60000 non-null  object
 6   end_station_name    60000 non-null  object
 7   end_station_id      60000 non-null  object
 8   start_lat           60000 non-null  float64
 9   start_lng           60000 non-null  float64
 10  end_lat             60000 non-null  float64
 11  end_lng             60000 non-null  float64
 12  member_casual       60000 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.0+ MB

In [24]:
citibike_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             45000 non-null  object
 1   rideable_type       45000 non-null  object
 2   started_at          45000 non-null  object
 3   ended_at            45000 non-null  object
 4   start_station_name  45000 non-null  object
 5   start_station_id    45000 non-null  object
 6   end_station_name    45000 non-null  object
 7   end_station_id      45000 non-null  object
 8   start_lat           45000 non-null  float64
 9   start_lng           45000 non-null  float64
 10  end_lat             45000 non-null  float64
 11  end_lng             45000 non-null  float64
 12  member_casual       45000 non-null  object
dtypes: float64(4), object(9)
memory usage: 4.5+ MB

In [12]:
citibike_2022.to_csv("citibike_22.csv", index=False)
citibike_2023.to_csv("citibike_23.csv", index=False)